<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funcionencolar040123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/84aa0af5-1f0d-4aff-a373-86eb52e884bc/resourceGroups/PracticaAzure/providers/Microsoft.Web/sites/FuncionEncolar040123</ResourceId>
    <UserName>$FuncionEncolar040123</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcionencolar040123.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>